
body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    display: flex;
    color: white;
    align-items: center;
    
}

ul {
    list-style-type: none;
    display: flex;
}
ul li{
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    font-size: 18px;
    margin-left: 150px;
    margin-right: 50%;
}
.right-links{
    margin-left: auto;
    margin-right: 150px;
}

.part2{
    background-color: #1F2937;
    display: flex;
    
}

.text-left {
    margin-left: 150px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

#bigone {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-top: 20px;
    margin-bottom: 0%;
}

#second-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 5px;
}

button{
    background-color: #3882F6;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #F9FAF8;
    margin-top: 3px;
    font-size: 15px;
    width: 120px;
    height: 30px;
    align-items: center;
}

.img1{
    width: 1500px;
    height: auto;
    margin-right: 150px;
    margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: gray;
    color: #E5E7EB;
    padding: 75px 0;
    text-align: center;
}

.part3{
    display: flex;
    flex-direction: column;
}

.info-title{
    text-align: center;
    font-size: 36px;
    justify-content: center;
    font-weight: bold;
    margin-top: 0%;
    color: #1F2937;    
}

.squares{
    display: flex;
    justify-content: center;
}

.square {
    height: 175px;
    width: 175px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid ;
    border-radius: 10px;
    margin-bottom: 0%;
    margin-left: 35px;
    margin-right: 35px;
}

.squares-text{
    display: flex;
    justify-content: center;
}

.text{
    width: 175px;
    margin-left: 35px;
    margin-left: 35px;
}
