
body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    display: flex;
    color: white;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}
ul li{
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    font-size: 18px;
    margin-left: 150px;
}
.right-links{
    margin-left: auto;
    margin-right: 150px;
}

.part2{
    background-color: #1F2937;
    display: flex;
}

.text-left {
    margin-left: 150px;
}

#bigone {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

#second-text{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    border-radius: 5px;
}

.img1{
    width: auto;
    height: auto;
    margin-right: 150px;
}